<div class="px-32 flex justify-between pt-10">
  <div class="text-2xl font-extrabold">
    <!-- Display "OUR BOOKS" for regular users, "Out of Stock Books" for managers -->
    <span *ngIf="!authService.isManager()">OUR BOOKS</span>
    <div class="flex flex-col">
      <span *ngIf="authService.isManager()">Out of Stock Books</span>
      <button routerLink="/book/create" *ngIf="authService.isManager()" class="bg-OrangeButton text-sm font-bold mr-4 w-24 mb-3 text-white py-1 px-2">
        + Book
      </button>
      <button routerLink="/book/create" *ngIf="authService.isManager()" class="bg-OrangeButton text-sm font-bold w-24 text-white py-1 px-2">
        + Category
      </button>
    </div>
  </div>
  
  <div class="flex items-center">
    <!-- Display + Book and + Category buttons for Managers -->
    
    <!-- Filter Menu -->
    <app-filter-menu (filtersChanged)="onFilterChanged($event)"></app-filter-menu>
  </div>
</div>
