<div class="flex justify-end space-x-4 ">
  <!-- Category Filter -->
  <div>
    <label for="category" class="block text-sm font-medium text-gray-600">Category</label>
    <select id="category" class="mt-1 p-2 border rounded-md focus:ring focus:ring-blue-300"
      [(ngModel)]="selectedCategory" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <!-- Price Range Filter -->
  <div>
    <label for="price-range" class="block text-sm font-medium text-gray-600">Price Range</label>
    <select id="price-range" class="mt-1 p-2 border rounded-md focus:ring focus:ring-blue-300"
      [(ngModel)]="selectedPriceRange" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let price of priceRanges" [value]="price">{{ price }}</option>
    </select>
  </div>
</div>
